<%= form_for @user do |f| %>

	<% if @user.errors.any? %>
		<div id="error explanation">
			<h2>
				<%= pluralize(@user.errors.count, "error") %>
				prohibited this user form being fetched
			</h2>
			<ul>
				<% @user.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<%= f.text_field :username %>
	</p>

	<p>
		<%= f.submit "Add user", :class=>"btn btn-sm btn-default"%><br>
	</p>

<% end %>

