<div class="usrs">
	<h1>User List</h1>
	<div class="container">
		<table style="margin-left: 2.4rem;">
			

			<% @users.each do |user|%>
					<tr style="padding: 1em 0;">
						<td style="color: rgba(210,210,250, 0.8); padding-top: 1rem; font-size: 1.6rem;"><%= user.username %></td></div>
						<td><%= link_to 'Display', user_path(user), :class=>"btn btn-sm btn-default", :id=>"links", :style=>"margin-left: 2rem; margin-bottom: 1rem;" %></td>
						<td><%= link_to 'Delete', user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-sm btn-default", :id=>"links", :style=>"margin-left: 2rem; margin-bottom: 1rem;" %></td>
					</tr>
			<% end %>

		</table>
	</div>
</div>