<p>
	<h1>Username</h1>
	<div class="container">
		<h2><%= @user.username %></h2>
	</div>
</p>

<h1>Followers</h1>
<div class="container">
	<div class="box" style="padding-top: 1.6rem;">
		<% TwitterApi.get_followers(@user.username).each do |twitter_name| %>
			<p><%= twitter_name %></p>
		<% end %>
	</div>
</div>

<h1>Saved Followers</h1>
<div class="container">
	<div class="box" style="padding-top: 1.6rem;">
		<% @user.followers.each do |follower| %>
			<p>
				<%= follower.name %>
			</p>
		<% end %>
	</div>
</div>

<%= form_for([@user, @user.followers.build]) do |f| %>
	<p style="color: white; padding: 1.6rem;">
		Insert followers to store:
	</p>
	<p style="color: #333; padding: 1.6rem;">
		<%= f.text_area :name, cols: "25", rows: "7" %>
	</p>
	<p style="padding-left: 1.6rem;">
		<%= f.submit "Store Followers", :class=>"btn btn-sm btn-default"%>
	</p>
<% end %>
	<p style="padding-left: 1.6rem">
		<%= link_to 'Back', users_path, :class=>"btn btn-sm btn-default" %>
	</p>