<!DOCTYPE html>
<html>
  <head>
    <title>CoherentTest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
</html>

<body>
	<div class="navbar-default">
    	<div class="container">
	  		<div class="navbar-brand">Twitter Fetch</div>
	  		<%= link_to 'New User', new_user_path, :class=>"navbar-text navbar-right navbar-link"%>
		</div>
  	</div>
  	<div class="container" style="margin-right: 0.5rem;">
	    <%= yield %>
    </div>
</body>
